body {
    background-color: #A9A9A9;
}
.golf {
    background-image: url('https://files.tripstodiscover.com/files/2017/09/Kelly-Plantation-Golf-Club-Destin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Cars {
    background-image: url('http://supercars.agent4stars.com/wp-content/uploads/2017/01/DanUSACarCollection2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Gaming {
    background-image: url('https://news.xbox.com/en-us/wp-content/themes/xbox/theme/img/default/img-default-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    border-radius: 25px;
    width: 700px;
    border: 15px solid blue;
    margin: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    font-family: Snell Roundhand, cursive;
    text-shadow: 1px 1px 0px #EDEDED, 4px 4px 4px rgba(0,0,0,.25);
    font-size: 60px;
    background: linear-gradient(#004299, #1A7Dff, #9DC7FF);
    }
.gamingimg {
    padding: 0px;
    border: 10px solid #1A7DFF;
    margin: 10px;
}
.image {
    padding: 8px;
    border: 10px solid #1A7DFF;
    margin: 10px;
    border-radius: 25px;
    
}
button {
    border-radius: 25px;
    font-size: 26px;
    font-family: Snell Roundhand, cursive;
    border: 8px solid blue;
    margin: 25px;
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: center;
    width: 200px;
    background: linear-gradient(#004299, #1A7DFF, #9DC7FF);
    text-shadow: 1px 1px 0px #EDEDED, 4px 4px 4px rgba(0,0,0,.25);
    color: black;
}
h2 {
    border-radius: 25px;
    font-size: 36px;
    font-family: Snell Roundhand, cursive;
    border: 8px solid black;
    margin: 25px;
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: center;
    width: 200px;
    background: linear-gradient(#800000, #FF0000, #FF9999);
    text-shadow: 1px 1px 0px #EDEDED, 4px 4px 4px rgba(0,0,0,.25);
    color: black;
}
hr {
    border-width: 3px;
    border-color: black;
} 
p {
    text-align: left;
    font-size: 18px;
}
h3{
    font-family: Snell Roundhand, cursive;
    text-shadow: 1px 1px 0px #EDEDED, 4px 4px 4px rgba(0,0,0,.25);
    font-size: 40px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    background-color:#A9A9A9;
    text-align: left;
}
.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    background-color:#A5A5A5;
    text-align: left;
}
.row {
    content: "";
    display: flex;
}
.thumbnail {
    float: left;
    width: 300px;
    padding: 5px;
    border-radius: 25px;
    color: #9dc7ff;
    border: 8px solid #1A7DFF;
    background-color: #9DC7FF;
    margin-left: 229px;
}
.normal {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
}